body {
    margin-top: 200px;
    display: flex;
    justify-content: center;
    font-family: arial;
}
.darkblue {
    color: rgb(6, 6, 134);
}
.pink {
    color: rgb(238, 125, 144);
}
.yellow {
    color: rgb(218, 218, 134);
}
.lightblue  {
    color: rgb(99, 99, 223);
}
.brown {
    color: brown;
}
.purple {
    color: rgb(79, 53, 199);
}